<div class="col-md-4"></div>
<div class="col-md-4">
<div class="login jumbotron center-block">
  <h1>Register</h1>
    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="username" placeholder="Username">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="password" placeholder="Password">
    </div>
    <div class="form-group">
      <input type="email" class="form-control" [(ngModel)]="email" placeholder="Email">
    </div>
    <button (click)="createUser(username, password, email)">Sign up</button>
    <a [routerLink]="['/login']">Click here to Login</a>
</div>
</div>
<div class="col-md-4"></div>
