<div class="col-md-4"></div>
<div class="col-md-4">
<div class="login jumbotron center-block">
  <h1>Sign up</h1>
    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="data.username" placeholder="Username">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" [(ngModel)]="data.password" placeholder="Password">
    </div>
    <div class="form-group">
      <input type="email" class="form-control" [(ngModel)]="data.email" placeholder="Email">
    </div>
    <button (click)="createUser(data.username, data.password, data.email)">Sign up</button>
    <a [routerLink]="['/login']">Click here to Login</a>
</div>
</div>
<div class="col-md-4"></div>
