.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
  border-radius: 20px;
  border-top: 2px solid red;
  border-bottom: 2px solid red;
}

.container .jumbotron, .container-fluid .jumbotron {
  padding-right: 15px;
  padding-left: 15px;
}

.thumbnail img {
  padding-right:15px;
}

.textRight {

  text-align : right;
}

.media-object {
  display: block;
  padding: 7px;
}
