<div class="row">
  <div class="col-md-12">

    <div #input [hidden]="!myApp.isVisible" focusOnInit>
      <div class="jumbotron center-block">
        <h3>Upload to: "{{albumTitle}}"</h3>
        <input type="file" (change)="selectFile($event)" placeholder="Upload file..."/>
        <!--<input id="input-2" name="input2[]" type="file" class="file" multiple data-show-upload="false"
               data-show-caption="true">-->
        <div>

          <a class="btn icon-btn btn-default" (click)="myApp.cancel()" (click)="myApp.appearInput(false)" [hidden]="!myApp.isVisible">
            <span class="glyphicon btn-glyphicon glyphicon-arrow-left img-circle text-muted"></span> <!-- defining icon -->
            Back <!-- defining text -->
          </a>

          <a class="btn icon-btn btn-success" (click)="upload()" (click)="myApp.appearInput(false)" [hidden]="!myApp.isVisible">
            <span class="glyphicon btn-glyphicon  img-circle text-success glyphicon-cloud-upload"></span>
            Upload
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
      <div class="jumbotron center-block">

        <div id="block_container" class="form-group">

          <p id="bloc1">Photos in: "{{albumTitle}}"</p>
          <a id="bloc2" (click)="myApp.cancel()" (click)="myApp.appearInput(false)" [hidden]="!myApp.isVisible">
            <span class="glyphicon btn-glyphicon glyphicon-arrow-left img-circle text-muted"></span> <!-- defining icon -->
          </a>
          <a id="bloc3" (click)="myApp.appearInput()" [hidden]="myApp.isVisible" class="btn icon-btn">
            <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>
          </a>

        </div>

        <div class="row">
          <!--<div class="col-xs-18 col-sm-6 col-md-3" *ngFor="let photo of photosAsMultipartFiles">-->
          <div class="col-xs-18 col-sm-6 col-md-3" *ngFor="let photo of photos">
            <div class="thumbnail">
              <p>{{photo.title}}</p>
              <img src='data:image/jpeg;base64,{{photo.base64}}' align="center"/>
              <div class="caption">
                <p>
                </p>
                <a  (click)="deletePhotoByUserNameAndPhotoAlbumTitle(userName, albumTitle, photo.id, photo.title)"  class="btn icon-btn">
                  <span class="glyphicon btn-glyphicon glyphicon-trash img-circle text-success"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
