<div class="row">
  <div class="col-md-12">

    <div #input [hidden]="!myApp.isVisible" focusOnInit>
      <div class="jumbotron center-block">
        <h3>Create/Update a new user</h3>
        <p>(username is primary key, can't change)</p>
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="userName" placeholder="username">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="password" placeholder="password">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" [(ngModel)]="email" placeholder="email">
        </div>

        <a class="btn icon-btn btn-success" (click)="createUser(userName, password, email)" (click)="myApp.appearInput(false)" [hidden]="!myApp.isVisible">
          <span class="glyphicon btn-glyphicon  img-circle text-success glyphicon glyphicon-ok"></span>
          Create
        </a>

        <a class="btn icon-btn btn-warning" (click)="updateUser(userName, password, email)" (click)="myApp.appearInput(false)" [hidden]="!myApp.isVisible">
          <span class="glyphicon btn-glyphicon glyphicon-pencil img-circle text-danger"></span>
          Edit
        </a>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
      <div class="jumbotron center-block">

        <div id="block_container" class="form-group">
          <p id="bloc1">Registered users</p>
          <a id="bloc2" (click)="myApp.cancel()" (click)="myApp.appearInput(false)" [hidden]="!myApp.isVisible">
            <span class="glyphicon btn-glyphicon glyphicon-arrow-left img-circle text-muted"></span> <!-- defining icon -->
          </a>

          <a id="bloc3" (click)="myApp.appearInput()" [hidden]="myApp.isVisible" class="btn icon-btn">
            <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>
          </a>

        <input class="third" type="text" placeholder="Search by username" [(ngModel)]="username">
        </div>


        <table class="table table-striped text-center">
            <thead>
            <tr>
              <th>#</th>
              <th align="center">Username</th>
              <th>Password</th>
              <th>Email</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>

            <tr *ngFor="let user of (users | filter:username); let i = index">
              <th scope="row">{{i + 1}}</th>
              <td><a [routerLink]="['/user-details', user.userName]">{{user.userName | uppercase}}</a></td>
              <td>{{user.passWord}}</td>
              <td>{{user.email}}</td>
              <div class="btn-group" role="group" aria-label="...">
                <td>

                  <a class="btn icon-btn btn-warning" (click)="myApp.appearInput()" [hidden]="myApp.isVisible">
                    <span class="glyphicon btn-glyphicon glyphicon-pencil img-circle text-danger"></span>
                    Edit
                  </a>
                  <a class="btn icon-btn btn-danger" (click)="deleteUser(user.userName)">
                    <span class="glyphicon btn-glyphicon glyphicon-trash img-circle text-danger"></span>
                    Delete
                  </a>
                </td>
              </div>
            </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>
</div>

