<div class="row">
  <div class="col-md-12">
    <div class="col-md-4">
      <div class="jumbotron center-block">
        <h3>Create/Update a new user</h3>
        <p>(username is primary key, can't change)</p>
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="username" placeholder="username">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="password" placeholder="password">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="email" placeholder="email">
        </div>
        <button class="btn btn-default btn-xs" (click)="createUser(username, password, email)">Create</button>
        <button class="btn btn-default btn-xs" (click)="updateUser(username, password, email)">Update</button>
      </div>
    </div>
    <div class="col-md-8">
      <div class="jumbotron center-block">
        <h3>List of users</h3>
        <div class="row">
          <div class="col-xs-18 col-sm-6 col-md-4" *ngFor="let user of users">
                  <h4>UserName: <a [routerLink]="['/user-details', user.userName]">{{user.userName}}</a></h4>
                  <h4>Email: <a href="{{user.email}}">{{user.email}}</a></h4>
                  <button class="btn btn-default btn-xs" (click)="deleteUser(user.userName)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
