<div class="jumbotron center-block">
  <h3>List of users</h3>
  <ul class="demo-list-icon mdl-list">
    <li class="mdl-list__item" *ngFor="let user of users">
      <button (click)="deleteUser(user.userName)">Delete</button>
      <span class="mdl-list__item-primary-content">
            <a [routerLink]="['/user-details', user.userName]">
              {{user.userName}}</a>
        {{user.passWord}}
        {{user.email}}
        </span>
    </li>
  </ul>
</div>

<div class="jumbotron center-block">
  <h3>Create/Update a new user</h3>
  <p>(username is primary key, can't change)</p>
  <p>
    <input type="text" name="new_user" [(ngModel)]="username" placeholder="username"><br>
    <input type="text" name="new_user" [(ngModel)]="password" placeholder="password"><br>
    <input type="text" name="new_user" [(ngModel)]="email" placeholder="email"><br>
    <button (click)="createUser(username, password, email)">Create</button>
    <button (click)="updateUser(username, password, email)">Update</button><br><br>
  </p>
</div>
