.wrapper {
  width: 60%;
  margin: 60px auto;
}

.btn-glyphicon {
  padding:8px;
  background:#ffffff;
  margin-right:4px;
}
.icon-btn {
  padding: 1px 15px 3px 2px;
  border-radius:50px;
}

#bloc1, #bloc2, #bloc3, #bloc4
{
  display:inline;
}

.first {
  display: inline;
  float: left;
}
.second {
  display: inline;
  float: none;
}
.third {
  display: inline;
  float: right;
}

th {
  text-align: center; /* Or right or left */
}
